# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
projects/cws-shared-lib/node_modules

projects/cws-shared-lib/node_modules/@ionic/angular/ionic-angular.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/ionic-angular.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/ionic-angular.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/ionic-module.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/ionic-module.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/ionic-module.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/package.json
projects/cws-shared-lib/node_modules/@ionic/angular/__ivy_ngcc__/fesm2015/ionic-angular.js
projects/cws-shared-lib/node_modules/@ionic/angular/__ivy_ngcc__/fesm2015/ionic-angular.js.map
projects/cws-shared-lib/node_modules/@ionic/angular/directives/proxies.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/directives/proxies.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/directives/proxies.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/directives/control-value-accessors/boolean-value-accessor.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/directives/control-value-accessors/boolean-value-accessor.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/directives/control-value-accessors/boolean-value-accessor.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/directives/control-value-accessors/numeric-value-accesssor.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/directives/control-value-accessors/numeric-value-accesssor.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/directives/control-value-accessors/numeric-value-accesssor.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/directives/control-value-accessors/radio-value-accessor.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/directives/control-value-accessors/radio-value-accessor.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/directives/control-value-accessors/radio-value-accessor.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/directives/control-value-accessors/select-value-accessor.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/directives/control-value-accessors/select-value-accessor.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/directives/control-value-accessors/select-value-accessor.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/directives/control-value-accessors/text-value-accessor.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/directives/control-value-accessors/text-value-accessor.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/directives/control-value-accessors/text-value-accessor.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/directives/control-value-accessors/value-accessor.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/directives/control-value-accessors/value-accessor.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/directives/control-value-accessors/value-accessor.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/directives/navigation/ion-back-button.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/directives/navigation/ion-back-button.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/directives/navigation/ion-back-button.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/directives/navigation/ion-router-outlet.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/directives/navigation/ion-router-outlet.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/directives/navigation/ion-router-outlet.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/directives/navigation/ion-tabs.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/directives/navigation/ion-tabs.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/directives/navigation/ion-tabs.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/directives/navigation/nav-delegate.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/directives/navigation/nav-delegate.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/directives/navigation/nav-delegate.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/directives/navigation/router-link-delegate.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/directives/navigation/router-link-delegate.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/directives/navigation/router-link-delegate.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/directives/virtual-scroll/virtual-footer.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/directives/virtual-scroll/virtual-footer.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/directives/virtual-scroll/virtual-footer.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/directives/virtual-scroll/virtual-header.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/directives/virtual-scroll/virtual-header.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/directives/virtual-scroll/virtual-header.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/directives/virtual-scroll/virtual-item.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/directives/virtual-scroll/virtual-item.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/directives/virtual-scroll/virtual-item.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/directives/virtual-scroll/virtual-scroll.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/directives/virtual-scroll/virtual-scroll.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/directives/virtual-scroll/virtual-scroll.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/providers/action-sheet-controller.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/providers/action-sheet-controller.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/providers/action-sheet-controller.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/providers/alert-controller.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/providers/alert-controller.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/providers/alert-controller.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/providers/angular-delegate.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/providers/angular-delegate.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/providers/angular-delegate.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/providers/animation-controller.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/providers/animation-controller.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/providers/animation-controller.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/providers/config.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/providers/config.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/providers/config.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/providers/dom-controller.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/providers/dom-controller.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/providers/dom-controller.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/providers/gesture-controller.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/providers/gesture-controller.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/providers/gesture-controller.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/providers/loading-controller.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/providers/loading-controller.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/providers/loading-controller.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/providers/menu-controller.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/providers/menu-controller.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/providers/menu-controller.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/providers/modal-controller.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/providers/modal-controller.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/providers/modal-controller.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/providers/nav-controller.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/providers/nav-controller.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/providers/nav-controller.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/providers/picker-controller.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/providers/picker-controller.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/providers/picker-controller.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/providers/platform.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/providers/platform.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/providers/platform.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/providers/popover-controller.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/providers/popover-controller.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/providers/popover-controller.d.ts.map
projects/cws-shared-lib/node_modules/@ionic/angular/providers/toast-controller.d.ts
projects/cws-shared-lib/node_modules/@ionic/angular/providers/toast-controller.d.ts.__ivy_ngcc_bak
projects/cws-shared-lib/node_modules/@ionic/angular/providers/toast-controller.d.ts.map
